.header{
    position: absolute;
    top: 0;
    
}

.header >* {
    color:black
}

.heading{
    font-size: 1.5em;
    font-weight: bold;
    margin:15px 0 5px 0;
}

.heading2{
    margin:0px 5px;
    font-style: italic;
}